.template {
    display: none;
}

.kurs {
    cursor: pointer;
}

#kurstable {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#kurstable td,
#kurstable th {
    border: 1px solid #ddd;
    padding: 8px;
}

#kurstable tr:nth-child(even) {
    background-color: #f2f2f2;
}

#kurstable tr:hover {
    background-color: #ddd;
}

#kurstable th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
  }